@import "tailwindcss";

:root {
  --background: #ffffffe6;
  --foreground: #171717;
  --primary-green: #78be43;
  --primary-blue: #00a880;
  --hbl-green: #78be43;
  --hbl-green2: #006429;
  --white: #ffffffe6;
}

::selection {
  color: var(--white);
  background-color: var(--primary-green);
}

@theme {
  --color-hbl-green: #78be43;
  --color-background: #ffffffe6;
  --color-primary-green: #78be43;
}

@layer utilities {
  .shadow-card {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  #NutritionClub > #n-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #u-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.1s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #t-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.2s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #r-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.3s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #i-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.3s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #t2-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.5s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #r2-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.6s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #i2-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.7s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #o-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.8s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #n2-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 0.9s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #c-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 1s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #l-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 1.1s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #u2-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 1.2s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }
  #NutritionClub > #b-nc {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 3s ease 1.3s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }

  #glasses > #glass-blue,
  #glass-green > path {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 4.3s ease 0s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }

  #smile {
    opacity: 0;
    fill-opacity: 0;
    animation: nc-text 4.3s ease 0s forwards,
      nc-text-fill-opacity 2s ease 3s forwards;
  }

  #herbalife {
    opacity: 0;
    animation: fadein 2s ease 4.8s forwards;
  }

  #bbc-logo {
    transform: translateY(100px) scale(1.4);
    animation: bbc-move 1.5s ease 3.5s forwards;
  }

  #hero-container {
    opacity: 0;
    animation: fadein 2s ease 4.3s forwards;
  }

  @media screen and (max-width: 500px) {
    #bbc-logo {
      transform: translateY(100px) scale(1.1);
      animation: bbc-move-mobile 1.5s ease 3.5s forwards;
    }
  }
}

@keyframes bbc-move {
  0% {
    transform: translateY(100px) scale(1.4);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes bbc-move-mobile {
  0% {
    transform: translateY(100px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glass-logo {
  0% {
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
  70% {
    stroke-dasharray: 150 0;
    stroke-dashoffset: 100;
    stroke-width: 4;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 1;
  }
}

@keyframes nc-text {
  0% {
    stroke-dasharray: 1 1000;
    stroke-dashoffset: 0;
    stroke-width: 0;
    opacity: 0;
  }
  70% {
    stroke-dasharray: 150 0;
    stroke-dashoffset: 100;
    stroke-width: 4;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 150 0;
    stroke-dashoffset: 0;
    stroke-width: 4;
    opacity: 1;
  }
}

@keyframes nc-text-fill-opacity {
  0% {
    stroke-width: 4;
    fill-opacity: 0;
  }
  100% {
    stroke-width: 0;
    fill-opacity: 1;
  }
}
